.chart-box{
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 85%;
  div{
    background-color: white;
    border-radius: .9rem;
    padding: 0 0.5rem;
  }
}
