.Cards {
    display: flex;
    gap: 8rem;
  
    @media screen and (max-width: 1200px) {
      flex-direction: column;
  
      .parentContainer {
        height: 9rem;
      }
    }
  
    @media screen and (max-width: 768px) {
      width: 90%;
    }
  }
  
  .parentContainer {
    width: 100%;
  }
  