
.menuItem {
  display: flex;
  align-items: center;
  gap: 1rem;
  height: 2.5rem;
  margin-left: 2rem;
  position: relative;
  transition: all 100ms ease;
  border-radius: 0.7rem;
  font-size: 14px;
  padding-right: 1rem;
  margin-top: 1rem;
  &:hover {
    cursor: pointer;
  }

  &.active {
    // background: var(--activeItem);
    background: #3b82f6;
    color: white;
    margin-left: 0;
    padding: 0.3rem 0;
    &::before {
      content: "";
      width: 8px;
      height: 100%;
      padding: 0.3rem 0;
      // background: var(--pink);
      background: #003488;
    }
  }
}

.sidebar {
  // background: #e8f1ff;
  backdrop-filter: blur(10px);
  background: #f8fcff;
  position: sticky;
  top: 0;
  box-shadow: 0rem 0rem 2rem rgba(0, 0, 0, 0.153);
  height: 100dvh;
  transition: all 0.5s;
  bottom: 0;
}
.top_section {
  display: flex;
  background: rgb(202, 213, 255);
  // padding-top: 2.5rem;
  gap: 2rem;
  padding: 1.3rem 0 0.4rem  0;
  display: flex;
  align-items: center;
  justify-content: center;

}
.logo {
  font-size: 35px;
  // display: flex;
  cursor: pointer;

}
.bars {
  // display: flex;
  font-size: 25px;
 
}
