.table-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 7px;
  background-color: white;
  border-radius: 0.9rem;
  width: 100%;
  padding-top: 1rem;
  box-shadow: 0 0 0.6rem rgba(0, 0, 0, 0.273);
  margin: 2.5rem;

  table {
    font-family: Arial, sans-serif;
    color: #333333;
    width: 100%;
  }

  thead {
    background-color: #e58282;
  }

  th,
  td {
    width: auto;
    padding: 8px;
    text-align: left;
    border: none !important;
    font-size: large;
    text-align: center;
  }

  th {
    background-color: #f2f2f2;
    font-weight: bold;
  }

  tr:hover {
    background-color: #e3d3d3ac;
  }
  .btn {
    display: flex;
    gap: 1rem;
    justify-content: center;
    .btns {
      font-size: 1.2rem;
      &:hover {
        color: #3b82f6;
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }
}
@media (max-width: 900px) {
  .table-div {
    overflow: scroll;
    align-items: normal;
    h2 {
      position: sticky;
      top: 0;
      left: 0;
      text-align: center;
    }
  }
}
